body{
	font-family: arial, sans-serif;
}

.navbar{
	width:100%;
}
.blank-space, .gmail, .images, .menu, .signin{
	display: inline-block;
}
.gmail, .images{
	padding-left: 10px;
	padding-right:10px;
}
.blank-space{
	width:50%;
}
.signin{
	color:#FFF;
	background-color: #4387fc;
	padding:5px 15px 5px 15px;
	border-radius: 4px;
	font-weight: bold;
}
.container{
	margin: auto;
	width: 50%;
	padding: 10px;
	padding-top:200px;
	padding-bottom: 200px;
}
.footer{
	background-color: #f2f2f2;
	width: 100%;
	height: 30px;
}